<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="faq-wrapper">
          <div class="header">
            <br><br>
            <h1>FAQs</h1>
            <br>
          </div>
          <div class="faq-inner">
            
            <div class="faq-item">
              <h3>
                How do you charge for services?
                <span class="faq-plus">&plus;</span>
              </h3>
              <div class="faq-body">
                At ThePartyPlanner, we offer various pricing options to suit your needs and preferences. Our goal is to make party planning convenient and flexible for you.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                Are deposits refundable?
                <span class="faq-plus">&plus;</span>
              </h3>
              <div class="faq-body">
                To avoid any confusion, it's crucial to thoroughly review and discuss deposit refund policies with the vendors you choose. Make sure you're clear on their cancellation terms, timelines, and any potential fees associated with changes to your event plans.
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                What kind of events do you plan?
                <span class="faq-plus">&plus;</span>
              </h3>
              <div class="faq-body">
                At ThePartyPlanner, we are dedicated to making your event planning experience stress-free and enjoyable. We offer services for a wide range of events, including, but not limited to
              </div>
            </div>
            <hr>
            <div class="faq-item">
              <h3>
                What is included in event planning services?
                <span class="faq-plus">&plus;</span>
              </h3>
              <div class="faq-body">
                Event planning services can encompass a wide range of activities and offerings to ensure that an event is successfully organized and executed. These services can vary depending on the type and scale of the event, as well as the specific needs and preferences of the client. 
              </div>
            </div>
            <hr>
            <div class="faq-item">
                <h3>
                    How much time do you need to plan?
                  <span class="faq-plus">&plus;</span>
                </h3>
                <div class="faq-body">
                  The amount of time needed to plan an event can vary significantly based on the type of event, its size and complexity, and the level of detail involved.
                </div>
              </div>
          </div>
          
          <hr>
          <div class="faq-item">
            <h3>
                What’s it like to work with an event planner?
              <span class="faq-plus">&plus;</span>
            </h3>
            <div class="faq-body">
              Working with an event planner can greatly simplify the process of organizing an event and enhance the overall experience. Event planners are professionals who specialize in bringing your event vision to life while handling the logistical and creative aspects.
          </div>
      </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(".faq-plus").on('click',function(){
        $(this).parent().parent().find('.faq-body').slideToggle();
      });
    </script>
  </body>

</html>