<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party-Planner</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="head">
        <a href="home.html" class="logo"><i class="fas fa-heart"></i>&nbsp;Wed<span>Me</span>Good&nbsp;<i class="fas fa-heart"></i></a>
        <nav class="navbar ">
            <a href="login.html" class="active">Login/Register</a>
            <a href="gallery.html" class="active">Portfolio</a>
            
        </nav>
        <div id="menu-bar"><i class="fas fa-bars"></i></div>
    </header>
    <!---------------------------Home--------------------->
    <section class="home" id="home">
        <form action="#">
            <div class="search-box">
                <h1>Your events will be carried out with distinction by us</h1>
                <p>Make Your Event The Best Day Ever!</p>
                </div>
        </form>
    </section>

    <!------------------------services-------------------->
    <section class="service" id="service">
        <div class="title">
            <h1><span>S</span>ervice</h1>
        </div>
        <div class="services-row">
            <div class="services-col">
                <i class="fas fa-decoration"></i>
                <h2>Decoration</h2>
                <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
            </div>
            <div class="services-col">
                <i class="fas fa-camera"></i>
                <h2>Photography & Video</h2>
                <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
            </div>
            
            <div class="services-col">
                <i class="fas fa-music"></i>
                <h2>music band</h2>
                <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
            </div>
            <div class="services-col">
                <i class="fas fa-birthday-cake"></i>
                <h2>Cake</h2>
                <p>Lorem ipsum dolor sit amet, at mei dolore tritani repudiandae.</p>
            </div>
            
        </div>
    </section>
    <!-----------------------------gallery------------------->
    <section class="gallery" id="gallery">
        <div class="title">
            <h1><span>G</span>allery <span></h1>
        </div>
        <div class="gallery-list">
            <div class="gallery-row">
                <img src="images/img2.png" alt="img">
                
            </div>
            <div class="gallery-row">
                <img src="images/img3.png" alt="img">               
                
            </div>
            <div class="gallery-row">
                <img src="images/img4.png" alt="img">
                
            </div>
            <div class="gallery-row">
                <img src="images/img6.jpeg" alt="img">
                
            </div>
            <div class="gallery-row">
                <img src="images/im5.jpg" alt="img">
                
            </div>
            <div class="gallery-row">
                <img src="images/img10.jpeg" alt="img">
            </div>
            
            <div class="gallery-row">
                <img src="images/bettertogether.jpeg" alt="img">
                
            </div>

            <div class="gallery-row">
                <img src="images/babyshower.jpeg" alt="img">
                
            </div>

            <div class="gallery-row">
                <img src="images/img13.jpeg" alt="img">
                
            </div>
        </div>
    </section>
    <!----------------------------venue Section-------------->
    <section class="venue" id="venue">
        <div class="title">
            <h1><span>V</span>enues</h1>
        </div>
        <div class="venue-list">
            <div class="venue-box">
                <img src="images/venue-5.jpg" alt="img">
                <div class="venue-info">
                    <h2>Goa</h2>
                    <p>Azaya Beach Resort, Goa</p>
                    <button class="btn">More Info</button>
                </div>
            </div>
            <div class="venue-box">
                <img src="images/venue-2.jpg" alt="img">
                <div class="venue-info">
                    <h2>Jaipur</h2>
                    <p>The Raj Palace</p>
                    <button class="btn">More Info</button>
                </div>
            </div>
            <div class="venue-box">
                <img src="images/venue-3.jpg" alt="img">
                <div class="venue-info">
                    <h2>Udaipur</h2>
                    <p>Taj Aravalli Resort and Spa</p>
                    <button class="btn">More Info</button>
                </div>
            </div>
            <div class="venue-box">
                <img src="images/venue-4.jpg" alt="img">
                <div class="venue-info">
                    <h2>Thailand</h2>
                    <p>Prince Palace Hotel</p>
                    <button class="btn">More Info</button>
                </div>
            </div>
            <div class="venue-box">
                <img src="images/venue-5.jpg" alt="img">
                <div class="venue-info">
                    <h2>Mumbai</h2>
                    <p>Grand Banquet, Chembur</p>
                    <button class="btn">More Info</button>
                </div>
            </div>
            <div class="venue-box">
                <img src="images/venue-6.jpg" alt="img">
                <div class="venue-info">
                    <h2>Daman</h2>
                    <p>The Deltin,Daman</p>
                    <button class="btn">More Info</button>
                </div>
            </div>
        </div>
    </section>
    <!------------------E-invitation------------------>
    <section class="invite" id="invite">
        <div class="title">
            <h1>Card<span>Design</span></h1>
            <p>Choose the best card Design.</p>
        </div>
        <div class="invitation-row">
            <div class="invitation-box">
                <img src="images/card-1.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-2.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-3.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-4.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-5.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-6.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-7.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-8.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-9.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-10.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-11.jpg" alt="">
            </div>
            <div class="invitation-box">
                <img src="images/card-12.jpg" alt="">
            </div>
        </div>
    </section>

    <!--------------------------------------------footer section--------------------------->
    <footer id="contact">
        <div class="container">
            <div class="f-container">
                <h2>ThePartyPlanner - Your Personal Event Planner</h2><br>
                <p>Plan your Event with Us ThePartyPlanner is an Event Planning Website </p>
                <div>
                    <button class="btn">Register Here</button>
                    <a href="mailto:thepartyplannerteam@gmail.com">thepartyplannerteam@gmail.com</a>
                </div>
                <div class="contact-list" >
                    <h5><span><i class="fa fa-phone w3-xlarge w3-text-light-grey"></i></span>Phone</h5>
                    <p>  763-957-6781</p>
                    <p>706-734-2591</p>
                  </div>
                <div class="social">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.twitch.tv/" target="_blank"><i class="fab fa-twitch"></i></a>
                </div>
            </div>
                
                <div class="f-container ">
                    <h2>Our Newsletter</h2>
                    <p>Subscribe for latest updates</p>
                    <input type="text " placeholder="Enter Your Email ">
                    <button class="btn ">Subscribe</button>
                    </div>
            </div>
        </footer>
        <div class="copyright ">
            <p>Copyright ©2023 All Rights Reserved </p>
            <p><b>Designed By Nikita Phartyal</b></p>
        </div>

        
</body>
<script>
     let menu = document.querySelector('#menu-bar');
    let head = document.querySelector('.head .navbar');

    menu.onclick = () => {
        head.classList.toggle('active');
    };

    window.onscroll = () => {
        head.classList.remove('active');
        if (window.scrollY > 60) {
            document.querySelector('#menu-bar').classList.add('active');
        } else {
            document.querySelector('#menu-bar').classList.remove('active');
        }
    };
</script>    
</html>