<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photographer</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
    <header class="head">
        <a href="#" class="logo"><i class="fas fa-heart"></i>&nbsp;Wed<span>Me</span>Good&nbsp;<i class="fas fa-heart"></i></a>
        <nav class="navbar ">
            <a href="index.html" class="active">Home</a>
            <a href="service.html" class="active">Service</a>
            <a href="gallery.html">Gallery</a>
            <a href="venue.html">Venue</a>
            <a href="faq.html" class="active">FAQ</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="#contact">Contact</a>
        </nav>
        <div id="menu-bar"><i class="fas fa-bars"></i></div>
    </header>



<section class="photographer" id="photographer">
    <div class="title">
        <h1><span>P</span>hotographer <span></h1>
    </div>
    <div class="photographer-list">
        <div class="photographer-row">
            <img src="images/photgrapher1.jpg" alt="img">
            
        </div>
        <div class="photographer-row">
            <img src="images/photgrapher2.jpg" alt="img">               
            
        </div>
        <div class="photographer-row">
            <img src="images/photographar2.webp" alt="img">
            
        </div>
        
    </div>
</section>
</body>
</html>